# Ignore TypeScript source files
**/*.ts

# Ignore TypeScript definition files
**/*.d.ts

# Ignore TypeScript configuration files
tsconfig.json

# Ignore tests
**/__tests__/
**/*.spec.ts
**/*.test.ts
**/*.test.js

# Ignore documentation
/docs

# Ignore development tools
/node_modules
/.vscode
/.github

# Ignore build tools
/webpack.config.js
/package-lock.json
/yarn.lock

# Ignore CI/CD configuration
/.travis.yml
/.circleci
/GitHub Actions

# Ignore development scripts
/scripts

RELEASE_NOTES*.md
typedoc.json
jest.config.js
.eslint.rc.js